Repository better-auth/better-auth, pull requests merged in 2025-07, with the labels that each got.

#2893 fix: expo & cli package.json and readme
  packages/cli/README.md
  packages/cli/package.json
  packages/expo/README.md
  packages/expo/package.json
Labels: size:L

#2989 fix: otp separator mismatch
  packages/better-auth/src/plugins/two-factor/otp/index.ts
Labels: size:XS

#2990 feat(stripe): pass context obejct to stripe plugin callbacks
  docs/components/landing/hero.tsx
  packages/stripe/src/hooks.ts
  packages/stripe/src/index.ts
  packages/stripe/src/stripe.test.ts
  packages/stripe/src/types.ts
Labels: size:L

#2994 feat: onPasswordReset callback
  docs/content/docs/authentication/email-password.mdx
  packages/better-auth/src/api/routes/reset-password.test.ts
  packages/better-auth/src/api/routes/reset-password.ts
  packages/better-auth/src/types/options.ts
Labels: size:M
